.color-scale-0 {
    background-color: #e0e0e0; /* Light grey for count 0 */
  }
  
  .color-scale-1 {
    background-color: #c8e6c9; /* Very light green for low count */
  }
  
  .color-scale-2 {
    background-color: #81c784; /* Light green for moderate count */
  }
  
  .color-scale-3 {
    background-color: #4caf50; /* Medium green for higher count */
  }
  
  .color-scale-4 {
    background-color: #388e3c; /* Dark green for even higher count */
  }
  
  .color-scale-5 {
    background-color: #1b5e20; /* Darkest green for the highest count */
  }
  